<!--#
 @version 0.1 (auto-set)
#-->
[#if ERROR#]
<#LANG_ERROR_GETTING_WEATHER_DATA#>
[#else ERROR#]
<div style="padding:10px">
[#CURRENT#]
<hr size="1"/>
[#FORECAST#]
</div>
<!--#
<div align="center">
<img src="<#ROOTHTML#>images/weather/[#WEATHER_ICON#].png" border="0"><br>
<big>[#TEMPERATURE#]</big>
</div>

<table border="1" align="center">
 <tr>
  [#begin DAYS#]
  <td valign="top" align="center">[#TITLE#]
  <br>
  <img src="<#ROOTHTML#>images/weather/[#DAYTIME_WEATHER_ICON#].png" border="0" width="40"><br>
  [#DAYTIME_TEMPERATURE#] / [#NIGHTTIME_TEMPERATURE#]
  </td>
  [#end DAYS#]
 </tr>
</table>
#-->
[#endif ERROR#]