<!--#
 @version 0.1 (auto-set)
#-->
<!-- table locations search -->
[#if MODE="search_locations"#]
<!-- search form -->
<table border=0>
<tr>
 <td colspan=10><b>Search</b></td>
</tr>
<form action="?" method="post" name="frmSearch">
 <tr>
  <td colspan=2>
   <input type="submit" name="submit" value="Search">
   //
   <a href="?data_source=<#DATA_SOURCE#>">Cancel</a>
  </td>
 </tr>
<input type="hidden" name="mode" value="search_locations">
</form>
</table>
<!-- / search form -->
[#endif MODE#]
<p align=center>
<b>
[#if MODE!="search_locations"#]<a href="?mode=search_locations">Search</a> 
&nbsp;&nbsp;&nbsp;
[#endif#]
//
&nbsp;&nbsp;&nbsp;
</b>
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_locations" style="padding:0px">
<table border=0 cellpadding=5 cellspacing=1 bgcolor="#000000" align=center>
<tr>
 <td align=center bgcolor="#AAAAAA">
 <b>Title</b>
 </td>
<td bgcolor="#AAAAAA">&nbsp;</td>
</tr>
[#begin RESULT#]
<tr >
 <td
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <table border=0>
  </table>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_locations">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<font color="red">No records found</font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
