
<!-- Table 'calendar_categories' edit -->
<p align=center>
 <a href="?data_source=<#DATA_SOURCE#>">&lt;&lt;&lt; Back</a>
</p>
<table border=0 align=center cellpadding=3>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit">
[#if OK#]
<tr>
 <td colspan=2 align=center>
  <font color="green">Data has been saved</font>
 </td>
</tr>
[#endif OK#]
[#if ERR#]
<tr>
 <td colspan=2 align=center>
  <font color="red">Please fill out all required fields</font>
 </td>
</tr>
[#endif ERR#]
[#if ID=""#]
<tr>
 <td colspan=2 align=center><b>New Record</b></td>
</tr>
[#endif ID#]
<!-- TITLE (varchar) -->
<tr>
 <td align=right>
 [#if ERR_TITLE#]<b><font color="red">[#endif#]
 TITLE:
 (*)
 </td>
 <td>
  <input type="text" name="title" value="[#TITLE#]">
 </td>
</tr>
<!-- ACTIVE (int) -->
<tr>
 <td align=right>
 [#if ERR_ACTIVE#]<b><font color="red">[#endif#]
 ACTIVE:
 </td>
 <td>
  <input type="text" name="active" value="[#ACTIVE#]">
 </td>
</tr>
<!-- PRIORITY (int) -->
<tr>
 <td align=right>
 [#if ERR_PRIORITY#]<b><font color="red">[#endif#]
 PRIORITY:
 </td>
 <td>
  <input type="text" name="priority" value="[#PRIORITY#]">
 </td>
</tr>
<!-- ICON (image) -->
<tr>
<td colspan=2 align=center>
ICON
<br>
[#if ICON!=""#]
[#module name="thumb" src="<#ROOTHTML#>./cms/calendar/<#ICON#>" width="300" height="300" enlarge="1" close="Close window"#]<br>
<input type="checkbox" name="delete_icon" value="1"> delete file<br>
[#endif ICON#]
Upload image: <input type="file" name="icon">
</td>
</tr>
<tr>
 <td colspan=2 align=center>
 [#if ID!=""#]
 <input type="submit" name="subm" value="Submit">
 [#else ID#]
 <input type="submit" name="subm" value="Add">
 [#endif ID#]
 &nbsp;
 <a href="?data_source=<#DATA_SOURCE#>">Cancel</a>
 </td>
</tr>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
</form>
</table>
