
<!-- table elements search -->
<p align=center>
<b>
<a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=edit_elements">Add new element</a>
</b>
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if ELEMENTS#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_elements" style="padding:0px">
<table border=0 cellpadding=5 cellspacing=1 bgcolor="#000000" align=center>
[#begin ELEMENTS#]
<tr >
 <td
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <table border=0>
  [#if "<#ACTION#>"=="admin"#]
   <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]" align=center>
    <b><a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=edit_elements&element_id=[#ID#]">Edit</a></b>
   </td>
   <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]" align=center>
    <a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=delete_elements&element_id=[#ID#]" onClick="return confirm('Are you sure?')">Delete</a>
   </td>
  [#endif ACTION#]
  </table>
 </td>
</tr>
[#end ELEMENTS#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_elements">
</form>
<!-- / search results (list) -->
[#else ELEMENTS#]
<p align=center>
<font color="red">No elements found.</font>
</p>
[#endif ELEMENTS#]
<!-- / results -->
</td></tr></table>
