<!--#
 @version 0.1 (auto-set)
#-->
<!-- table methods search -->
[#if MODE="search_methods"#]
<!-- search form -->
<table border=0>
<tr>
 <td colspan=10><b>Search</b></td>
</tr>
<form action="?" method="post" name="frmSearch">
 [#if !IS_SET_CLASS_ID#]
 <tr>
  <td align=right>Class ID:</td>
  <td><!-- int -->
&nbsp;&nbsp;&nbsp;
from <input type="text" name="class_id_min" value="[#CLASS_ID_MIN#]" size=5>
to <input type="text" name="class_id_max" value="[#CLASS_ID_MAX#]" size=5>
</td>
 </tr>
 [#endif IS_SET_CLASS_ID#]
 <tr>
  <td colspan=2>
   <input type="submit" name="submit" value="Search">
   //
   <a href="?data_source=<#DATA_SOURCE#>">Cancel</a>
  </td>
 </tr>
<input type="hidden" name="mode" value="search_methods">
</form>
</table>
<!-- / search form -->
[#endif MODE#]
<p align=center>
<b>
[#if MODE!="search_methods"#]<a href="?mode=search_methods">Search</a> 
&nbsp;&nbsp;&nbsp;
[#endif#]
//
&nbsp;&nbsp;&nbsp;
</b>
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_methods" style="padding:0px">
<table border=0 cellpadding=5 cellspacing=1 bgcolor="#000000" align=center>
<tr>
[#if !IS_SET_OBJECT_ID#]
 <td align=center bgcolor="#AAAAAA">
 <b>Object ID</b>
 </td>
[#endif IS_SET_OBJECT_ID#]
[#if !IS_SET_CLASS_ID#]
 <td align=center bgcolor="#AAAAAA">
 <b>Class ID</b>
 </td>
[#endif IS_SET_CLASS_ID#]
 <td align=center bgcolor="#AAAAAA">
 <b>Titile</b>
 </td>
 <td align=center bgcolor="#AAAAAA">
 <b>Description</b>
 </td>
<td bgcolor="#AAAAAA">&nbsp;</td>
</tr>
[#begin RESULT#]
<tr >
[#if "<#IS_SET_OBJECT_ID#>"!="1"#]
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if OBJECT_ID!=""#]
   [#OBJECT_ID#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
[#endif IS_SET_OBJECT_ID#]
[#if "<#IS_SET_CLASS_ID#>"!="1"#]
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
   [#CLASS_ID#]
 </td>
[#endif IS_SET_CLASS_ID#]
 <td
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if DESCRIPTION!=""#]
   [#DESCRIPTION#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <table border=0>
  </table>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_methods">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<font color="red">No records found</font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
