<!--#
 @version 0.2 (auto-set)
#-->
<big>Bluetooth devices discovered</big>
[#if VIEW_MODE=""#]
[#if DEVICES#]
<p align="center"><a href="?mode=delete_unknown" onclick="return confirm('Are you sure?');">Delete all unknown devices</a>
<a href="?mode=delete_once" onclick="return confirm('Are you sure?');">Delete found just once</a>
</p>
<table border="1" cellpadding="3">
 <tr>
  <td valign="top" align="center"><b>Title</b></td>
  <td valign="top" align="center"><b>Code</b></td>
  <td valign="top" align="center"><b>First found</b></td>
  <td valign="top" align="center"><b>Last found</b></td>
  <td valign="top" align="center"><b>User</b></td>
  <td valign="top">&nbsp;</td>
 </tr>
 [#begin DEVICES#]
 <tr>
  <td valign="top">[#TITLE#]</td>
  <td valign="top">[#MAC#]</td>
  <td valign="top">[#FIRST_FOUND#]</td>
  <td valign="top">[#LAST_FOUND#]</td>
  <td valign="top">[#NAME#]&nbsp;</td>
  <td valign="top"><a href="?view_mode=edit_btdevices&id=[#ID#]">Edit</a>
  <a href="?view_mode=delete_btdevices&id=[#ID#]" onClick="return confirm('Are you sure?')">Delete</a>
  </td>
 </tr>
 [#end DEVICES#]
</table>
[#else DEVICES#]
<p>No devices discovered yet</p>
[#endif DEVICES#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="edit_btdevices"#]
<p align="center"><a href="?">Back to the list</a></p>
<table border="0" align="center">
 <form action="?" method="post">
 <tr>
  <td align="right">Title:</td>
  <td><input type="text" name="title" value="[#TITLE#]"></td>
 </tr>
 <tr>
  <td align="right">User:</td>
  <td><select name="user_id">
   <option value="0">n/a
   [#begin USERS#]
   <option value="[#ID#]"[#if ID="<#USER_ID#>"#] selected[#endif SELECTED#]>[#NAME#]
   [#end USERS#]
  </select></td>
 </tr>
 <tr>
  <td align="right">Code:</td>
  <td>[#MAC#]</td>
 </tr>
 <tr>
  <td align="right">Fist found:</td>
  <td>[#FIRST_FOUND#]</td>
 </tr>
 <tr>
  <td align="right">Last found:</td>
  <td>[#LAST_FOUND#]</td>
 </tr>
 <tr>
  <td align="right">History:</td>
  <td>[#LOG#]</td>
 </tr>

 <tr>
  <td valign="top">&nbsp;</td>
  <td valign="top"><input type="submit" name="submit" value="Update"></td>
 </tr>
 <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
 <input type="hidden" name="id" value="[#ID#]">
 <input type="hidden" name="mode" value="update">
 </form>

</table>
[#endif VIEW_MODE#]