<!--#
 @version 0.2 (auto-set)
#-->

<!-- table scripts search -->
<p align=center>
<b>
<a href="?view_mode=edit_scripts">Add new Script</a>
</b>
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_scripts" style="padding:0px">
<table border=0 cellpadding=5 cellspacing=1 align=center>
[#begin RESULT#]
<tr>
 <td
  >
  <b>
  [#if TITLE!=""#]
   [#TITLE#]
  [#else#]
   &nbsp;
  [#endif#]
  </a></b>
 </td>
 <td>
  <table border=0>
  [#if "<#ACTION#>"=="admin"#]
   <td align=center>
    <b><a href="?view_mode=edit_scripts&id=[#ID#]">Edit</a></b>
   </td>
   <td align=center>
    <a href="?view_mode=run_script&id=[#ID#]" target="_blank" onClick="return confirm('Execute script?')">Execute</a>
   </td>   
   <td align=center>
    <a href="?view_mode=delete_scripts&id=[#ID#]" onClick="return confirm('Are you sure?')">Delete</a>
   </td>
  [#endif ACTION#]
  </table>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_scripts">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<font color="red">No data.</font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
